.body {
    color: #4E4E4E;
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

#intro {
  display: inline-block;
  margin-left: 10px;
}

#SEPTA {
  padding-left: 5px;
}

#DVRPC {
  padding-left: 5px;
}

#PENN {
  padding-left: 5px;
}

.logos {
  display: inline-block;
  float:right;
  padding-top: 5px;
}

.heading {
  font-size: 2em;
  font-family: sans-serif;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 6px;
  color: #4E4E4E;
}

.main {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: italic;
  color: #4E4E4E;
}

p.body {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1em;
  color: #4E4E4E;
}

.map {
    position: fixed;
    right: 0px;
    left: 0px;
    height: 85%;
    top: 165px;
    z-index: -1;
}

.sidebar {
  position: absolute;
  left: 0%;
  width: 100%;
  top: 0%;
  height: 100px;
  bottom: 66%;
  padding: 10px;
  background-color: #9dbf22;
  z-index: 10;
}

.right {
  position: relative;
  background-color: #9dbf22;
  left: 0%;
  width: 100%;
  top: 100px;
  bottom: 66%;
  padding-left: 10px;
  height: 65px;
  z-index: 10;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.abtBtn {
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    color: #A7357A;
    font-style: normal;
    padding: 10px;
    margin-right: 10%;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.abtBtn:hover, .abtBtn:focus {
    background-color: #A7357A;
    color: white;
    font-style: normal;
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.dropbtn {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    color: #1B7273;
    font-style: normal;
    padding: 10px;
    margin-left: 115px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #1B7273;
  color: white;
  font-style: normal;
  padding: 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
.dropdown-content {
    display: none;
    position: fixed;
    margin-left: 120px;
    margin-top: 0px;
    background-color: #eee;
    min-width: 125px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 1em;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #1B7273;
    color: white;
  }


.show {
  display:block;
}

.hide {
  display:none;
}

.results {
    position: fixed;
    display: inline-block;
    left: 1%;
    top: 30%;
    z-index: 10;
}





#siteTitle {
  font-size: 2.25em;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
}

.siteAttribution{
  font-size: 1em;
  color: #ffffff;
  font-weight: normal;
}

#station_name {
  font-size: 2.25em;
}

#station_details {
  font-size: 1.25em;
  margin-top: 3px;
  margin-bottom: 3px;
}

#data_selection {
  margin-bottom: 0px;
  font-size: 0.85em;
}

#stationInfo {
  background-color: #ffffff;
  opacity: 0.65;
  height: 240px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  border: 0.5px solid #4E4E4E;
  width: 275px;
  border-radius: 5px;
}

#stationRidership {
  background-color: #ffffff;
  opacity: 0.65;
  height: 190px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 10px;
  border: 0.5px solid #4E4E4E;
  display: inline-block;
  width: 275px;
  border-radius: 5px;
}

.resultsText{
  color: black;
}

.year {
  font-size: 0.85em;
  margin-left:10px;
}

#mapSelected {
  margin-top: 15px;
}

#station_location{
  font-style: italic;
}



/*The styling for this legend was adapted from code provided by Tile Mill at the following URL:
https://tilemill-project.github.io/tilemill/docs/guides/advanced-legends/*/

.my-legend {
    background-color:;
    position:absolute;
    display: inline-block;
    right: 1%;
    float:inherit;
    z-index: 1;
    padding-top: 1%;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 30px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 0.75em;
  list-style: none;
}

.my-legend ul.legend-labels li span {
  display: inline-block;
  float: left;
  height: 8px;
  width: 30px;
}

.my-legend a {
  color: #777;
}

.buffers {
    position: fixed;
    display: inline-block;
    right: 1%;
    top: 96%;
    z-index: 10;
}

.bufferbtn {
    background-color: #ffffff;
    color: black;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.75em;
    border: 1px solid #777777;
    cursor: pointer;
    border-radius: 7px;
}

.bufferbtn:hover, .bufferbtn:focus {
    background-color: #eeeeee;
}

.bufferbtn:active {
  background-color: #4c7d9a;
  color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
